<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict/>
	<key>Non-Consumables</key>
	<array>
		<string>com.skrebnev.multiwii.fullversion.30</string>
		<string>com.skrebnev.multiwii.fullversion.28</string>
		<string>com.skrebnev.multiwii.fullversion.26</string>
		<string>com.skrebnev.multiwii.fullversion.24</string>
		<string>com.skrebnev.multiwii.fullversion.22</string>
		<string>com.skrebnev.multiwii.fullversion.17</string>
		<string>com.skrebnev.multiwii.fullversion.18</string>
		<string>com.skrebnev.multiwii.fullversion.19</string>
		<string>com.skrebnev.multiwii.fullversion.20</string>
		<string>com.skrebnev.multiwii.fullversion.8</string>
		<string>com.skrebnev.multiwii.fullversion.9</string>
		<string>com.skrebnev.multiwii.fullversion.10</string>
		<string>com.skrebnev.multiwii.fullversion.11</string>
		<string>com.skrebnev.multiwii.fullversion.12</string>
		<string>com.skrebnev.multiwii.fullversion.13</string>
		<string>com.skrebnev.multiwii.fullversion.14</string>
		<string>com.skrebnev.multiwii.fullversion.15</string>
		<string>com.skrebnev.multiwii.fullversion.16</string>
		<string>com.skrebnev.multiwii.fullversion.5</string>
		<string>com.skrebnev.multiwii.fullversion.6</string>
		<string>com.skrebnev.multiwii.fullversion.7</string>
	</array>
	<key>Subscriptions</key>
	<dict/>
</dict>
</plist>
